body {
  margin: 0;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  background-size: cover;
  height: 100vh;
  width: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mode-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px 0px;
}

.mode-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;

  background-color: #faaa41;
  color: white;

  transform: translateY(0px);
  transition: all 0.5s;

  cursor: pointer;
}

.mode-buttons button:hover {
  background-color: #e09a3d;

  transform: translateY(-2px);
}
